Gruntfile.js
tests/**

# Coverage directory used by tools like istanbul
coverage/**

# Config files
.eslintrc.json
.eslintignore
.mocha.opts
.nycrc.json
.travis.yml

# Logs
logs
*.log
npm-debug.log

# OS
.DS_Store
.tmp

# Serverless
.serverless

# Serverless-Webpack
.webpack

# NYC
.nyc_output

# We need to include everything in the template, even if we would normally not
# publish it to npm
!generators/app/templates/**/*
